html {
    scroll-behavior: smooth;
    font-family: 'Oswald', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

/*---------------Background---------------*/
body {
    background-color: rgb(131,121,121);
    background-image: linear-gradient(172deg, rgba(131,121,121,1) 0%, rgba(49,55,79,1) 86%);
    background-attachment: fixed;
    background-size: cover;
    color: whitesmoke;
    margin: 0;
}
/*---------------Nav---------------*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    font-size: 25px;
}

nav li {
    display: inline-block;
    color: white;
    text-decoration: none;
}

nav li a {
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 20px 20px;
}

nav li a:hover {
    background-color: #111;
}

nav {
    font-size: 20px;
}

/*---------------Home---------------*/

.home-image {
    text-align: center;
}

.foto-perfil {
    width: 30%;
    border-radius: 50%;
}

.home {
    padding: 8%;
    font-size: 18px;
}

.home-information {
    width: 35%;
    margin: auto;
    text-align: center;
}


#contenido {
    padding: 20px;
}

/*---------------Projects---------------*/

.proyecto-contenedor {
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 600px);
    grid-gap: 15px;
}

.grid {
    text-align: center;
    border: 2px solid black;
}

/*---------------Projects Images---------------*/
article p{
    width: 70%;
    height: 50px;
    margin: auto;
}
.container {
    position: relative;
    width: 100%;
    margin: auto;
}
  
.image {
    width: 95%;
    transition: .3s ease;
}
  
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
  
.container:hover .image {
    opacity: 0.7;
}
  
.container:hover .middle {
    opacity: 1;
}
  
.text {
    background-color: rgba(49,55,79,1);
    font-size: 16px;
    padding: 16px 25px;
}

.text a {
    text-decoration: none;
    color: white;
}

/*---------------Contacts---------------*/


#contacto {
    display: flex;
    font-size: 30px;
    
}

.contacto-text {
    width: 50%;
    text-align: center;
    background-color: #31374f;
    height: 800px;
    color: #e5e7eb;
    margin: auto;
    padding: 0150px 0 0 0;
}

.social-media {
    display: flex;
}

.social-logo {
    width: 40%;
}

/*---------------Formulario---------------*/

.formulario {
    text-align: center;
    width: 50%;
    background-color: #e5e7eb;
    color: #31374f;
    height: 800px;
    margin: auto;
    padding: 150px 0 0 0;
    align-content: center;
}


form input[type=text], input[type=email] {
    display: block;
    width: 50%;
    padding: 10px 0 10px 5px;
    margin: auto;
    font-size: 15px;
}

form textarea {
    display: block;
    width: 50%;
    padding: 5px 0 100px 5px;
    resize: none;
    margin: auto;
    font-size: 15px;
}


.submit-button {
    background-color: #31374f;
    width: 20%;
    border-radius: 4px;
    padding: 8px 0 8px 5px;
    color: #e5e7eb;
    text-align: center;
}

/*---------------Responsive---------------*/

@media (max-width: 1000px) {
    /*----------Home----------*/
    .home {
        padding: 20%;    
    }

    .home-information {
        
        width: 100%;
    }
    /*----------projects----------*/
    .proyecto-contenedor {
        flex-direction: column;
        display: block;
    }
    /*----------Contacto----------*/
    #contacto {
        flex-direction: column;
        display: block;
        
    }
    .contacto-text {
        width: 100%;
        font-size: 80%;
        height: 500px;
        padding: 150px 0 80px 0;
    }
    .formulario {
        width: 100%;
        font-size: 80%;
        height: 500px;
        padding: 150px 0 150px 0;
    }
}

@media (max-width: 375px) {
    nav ul li {
        display: inline;
        font-size: 70%;
    }

    nav li a {
        padding: 10px 10px;
    }

    .home {
        padding: 220px 0 250px 0;
        font-size: 70%;
    }
    
    .projects-wrapper {
        font-size: 80%;
    }
    .proyecto-contenedor {
        font-size: 120%;
    }
    .contacto-text {
        font-size: 50%;
        height: 300px;
        padding: 50px 0 50px 0;
    }
    .formulario {
        font-size: 50%;
        height: 300px;
        padding: 30px 0 180px 0;
    }
}
