html {
    scroll-behavior: smooth;
    font-family: 'Oswald', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%;
}

/*---------------Background---------------*/
body {
    background-color: rgb(131,121,121);
    background-image: linear-gradient(172deg, rgba(131,121,121,1) 0%, rgba(49,55,79,1) 86%);
    background-attachment: fixed;
    background-size: cover;
    color: whitesmoke;
    margin: 0;
}
/*---------------Nav---------------*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    font-size: 1.2rem;
}

nav li {
    display: inline;
    color: white;
    text-decoration: none;
}

nav li a {
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    border: solid 1px rgb(63, 61, 61);
    padding: 5px 5px;
}

nav li a:hover {
    background-color: #111;
}
/*---------------Home---------------*/

.home-image {
    text-align: center;
}

.foto-perfil {
    width: 40%;
    border-radius: 50%;
}

.home {
    
    margin-top: 5rem;
    padding: 7rem 0;
}

.home-information {
    margin: auto;
    text-align: center;
    
}


#contenido {
    padding: 20px;
    font-size: 0.8rem;
}

/*---------------Projects---------------*/


.grid {
    text-align: center;
    border: 2px solid black;
}

/*---------------Projects Images---------------*/
article p{
    width: 80%;
    margin: auto;
    height: 3rem;
}
.container {
    position: relative;
    width: 100%;
    margin: auto;
}
  
.image {
    width: 95%;
    transition: .3s ease;
}
  
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
  
.container:hover .image {
    opacity: 0.7;
}
  
.container:hover .middle {
    opacity: 1;
}
  
.text {
    background-color: rgba(49,55,79,1);
    font-size: x;
    padding: 16px 25px;
}

.text a {
    text-decoration: none;
    color: white;
}
/*---------------Contacto---------------*/
#contacto {
    text-align: center;
}

.info-contacto {
    background-color: #31374f;
    padding: 50% 0;
    color: #e5e7eb;
}

.formulario {
    background-color: #e5e7eb;
    padding: 40% 0;
    color: #31374f;
}


form input[type=text], input[type=email] {
    display: block;
    width: 50%;
    padding: 5px 0 5px 5px;
    margin: auto;
    position: relative;
    
}

form textarea {
    display: block;
    width: 50%;
    padding: 5px 0 100px 5px;
    resize: none;
    margin: auto;
    position: relative;
}


.submit-button {
    background-color: #31374f;
    width: 20%;
    border-radius: 4px;
    padding: 8px 0 8px;
    color: #e5e7eb;
    text-align: center;
}

/*---------------Responsive---------------*/
@media screen and (min-width:50rem) {
    /*----------Home----------*/
    
    .foto-perfil {
        width: 20%;
    }

    .home-information {
        width: 50%;
    }
    
    #contenido {
        padding: 20px;
        font-size: 1.2rem;
    }

    /*----------Nav----------*/
    nav ul {
        font-size: 2rem;
    }

    nav li {
        display: inline-block;
        color: white;
        text-decoration: none;
    }
    
    nav li a {
        text-decoration: none;
        border: 0;
        padding: 20px 20px;
    }

    /*----------Project----------*/
    .proyecto-contenedor {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 1rem;
    }
    
    .grid {
        text-align: center;
        border: 2px solid black;
    }
    article p{
        width: 80%;
        margin: auto;
        height: 5rem;
    }
    
    .info-contacto {
        background-color: #31374f;
        padding: 15% 0;
        color: #e5e7eb;
        width: 50%;
    }
    
    .formulario {
        background-color: #e5e7eb;
        padding: 5% 0;
        color: #31374f;
        width: 50%;
    }

    form {
        margin-top: 5rem;
    }

    #contacto {
        display: flex;
    }
}